
.lapis-lazuli{
    -fx-background-color: #22577aff;
}
.verdigris{
    -fx-background-color: #38a3a5ff;
}
.emerald{
    -fx-background-color: #57cc99ff;
}
.light-green{
    -fx-background-color: #80ed99ff;
}
.tea-green{
    -fx-background-color: #c7f9ccff;
}
